*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #35224d;
}

header{
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 15px;
    width: 90%;
    height: 150px;
    background: -webkit-linear-gradient( top , #771599, #d8d0d0);
}
 
#header img{
    border: 2px solid red;
}

#header-divUno{
    width: 25%;
}

.header-divUno{
    color:white;
    text-align: center;
    font-size: 30px;
}

#header-divDos{
    align-content: center;
}

#header-divDos p{
    justify-content: center;
    width: 100%;
    font-size: 30px;
    height: 30px;
}

#header-divDos-p a{
    color: gold;
    text-decoration: none;
    font-size: 30px;
}

#header-divTres{
    color: aliceblue;
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: rgb(150,150, 150) 5px 3px;
}

main{
    justify-content: center ;
}

#main-div-titulo{
    justify-items: center;
    background-color: #533577;
    color: aqua;
    font-size: 20px;
    width:100%;
    height: 45px;
}

#formulario{
    padding: 30px;
    background-color: #7a5f9b;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 400px;
}

#formulario p{
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    text-align:center;
}

#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: auto;
}

.form-div{
    background-color: #3b2b50;
    width: 90%;
}

#etiqueta-nombre{
    margin-left: 32%;
    font-size: 30px;
    width: 40%;
}
#input-nombre{
    width: 35%;
    height: 30px;
    border: 2px solid #771599;
}

#etiqueta-edad{
    margin-left: 35%;
    font-size: 30px;
    width: 40%;
}
#input-edad{
    width: 35%;
    height: 30px;
    border: 2px solid #771599;
}

#etiqueta-correo{
    margin-left: 21%;
    font-size: 30px;
    width: 40%;
}

#input-correo{
    width: 35%;
    height: 30px;
    border: 2px solid #771599;
}

#form-div-textarea{
    width: 90%;
    background-color: #3b2b50;
}

#etiqueta-comentario{
    background-color: #3b2b50;
    font-size: 30px;
    margin-left: 29%;
    width: 50%;
    height: 60px;}

#textarea{
    width: 100%;
    width: 100px; 
}

#Enviar{
    border: 3px solid black;
    background-color: #3b2b50;
    color: white ;
    width: 100px;
    height: 30px;
    font-size: 20px;
}